*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul,
ol {
  list-style: none;
}

/* Remove padding from ul, ol */
ul,
ol {
  padding: 0;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* FONT SIZE */
h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 0.875rem;
}

@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}
body {
  padding-bottom: 1.5rem;
}

.App {
  display: grid;
  place-items: center;
  width: 100vw;
  height: 100vh;
  padding: 1rem;
}
.App main {
  display: grid;
  place-items: center;
  gap: 2rem;
  width: 90%;
}
@media (min-width: 768px) {
  .App main {
    display: flex;
    flex-direction: row;
    align-items: initial;
  }
}
.App main .tasks {
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  width: 90%;
  padding: 0.5rem;
  transition: all 0.5s linear;
  gap: 0.5rem;
}
.App main .tasks.toDo {
  background: rgb(207, 82, 97);
}
.App main .tasks.inProgress {
  background: rgb(106, 155, 242);
}
.App main .tasks.Completed {
  background: rgb(238, 174, 92);
}
@media (min-width: 768px) {
  .App main .tasks {
    width: 30%;
  }
}
.App main .tasks h2 {
  border-radius: 10px;
  padding: 1rem 0.5rem;
}
.App main .tasks .task {
  background: rgb(250, 237, 238);
  border-radius: 10px;
  margin-inline: 0.5rem;
}
.App main .tasks .task h5 {
  padding: 0.5rem;
  font-size: 1.25rem;
}
.App .add-task {
  margin-bottom: 1rem;
  padding: 1rem 0.5rem;
  background: rgb(94, 195, 127);
  border-radius: 5px;
}
.App .add-task h3 {
  color: white;
}
.App .add-task form input[type=text] {
  border-radius: 10px;
  border: none;
  padding: 0.5rem;
  margin-right: 0.3rem;
}
.App .add-task form input[type=submit] {
  height: 100%;
  color: gray;
  background: rgb(123, 206, 150);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.App .add-task form input[type=submit]:hover {
  background: rgb(94, 195, 200);
  color: white;
}

.icon {
  opacity: 0;
  transition: display 0.5s linear 0.5s;
  margin-right: 0.3rem;
}

.sho {
  opacity: 1;
  animation: show 0.5s ease;
  margin-right: 0.3rem;
}

@keyframes show {
  0% {
    display: none;
    opacity: 0;
    transform: scale(0, 0);
  }
  1% {
    display: grid;
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: scale(1, 1);
  }
}
.modal {
  position: fixed;
  background-color: rgba(128, 128, 128, 0.5);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  inset: 0;
  display: none;
  place-items: center;
  opacity: 1;
}
.modal h2 {
  border: 1px solid;
}

.show {
  display: grid !important;
  animation: show 0.5s ease;
}/*# sourceMappingURL=main.css.map */