body {
  padding-bottom: 1.5rem;
}

.App {
  display: grid;
  place-items: center;
  width: 100vw;
  height: 100vh;
  padding: 1rem;
  main {
    display: grid;
    @media (min-width: 768px) {
      display: flex;
      flex-direction: row;
      align-items: initial;
    }
    place-items: center;
    gap: 2rem;
    width: 90%;
    .tasks {
      border-radius: 5px;
      display: flex;
      flex-direction: column;
      width: 90%;
      padding: 0.5rem;
      transition: all 0.5s linear;
      &.toDo {
        background: rgba(207, 82, 97);
      }
      &.inProgress {
        background: rgba(106, 155, 242);
      }
      &.Completed {
        background: rgba(238, 174, 92);
      }
      @media (min-width: 768px) {
        width: 30%;
      }
      gap: 0.5rem;
      h2 {
        border-radius: 10px;
        padding: 1rem 0.5rem;
      }
      .task {
        background: rgba(250, 237, 238);
        border-radius: 10px;
        margin-inline: 0.5rem;
        h5 {
          padding: 0.5rem;
          font-size: 1.25rem;
        }
      }
    }
  }
  .add-task {
    margin-bottom: 1rem;
    padding: 1rem 0.5rem;
    background: rgba(94, 195, 127);
    border-radius: 5px;
    h3 {
      color: white;
    }
    form {
      input[type="text"] {
        border-radius: 10px;
        border: none;
        padding: 0.5rem;
        margin-right: 0.3rem;
      }
      input[type="submit"] {
        height: 100%;
        color: gray;
        background: rgba(123, 206, 150);
        border: none;
        border-radius: 5px;
        cursor: pointer;
        &:hover {
          background: rgba(94, 195, 200);
          color: white;
        }
      }
    }
  }
}

.icon {
  opacity: 0;
  transition: display 0.5s linear 0.5s;
  margin-right: 0.3rem;
}

.sho {
  opacity: 1;
  animation: show 0.5s ease;
  margin-right: 0.3rem;
}

@keyframes show {
  0% {
    display: none;
    opacity: 0;
    transform: scale(0, 0);
  }
  1% {
    display: grid;
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: scale(1, 1);
  }
}

.modal {
  position: fixed;
  background-color: rgba(gray, 0.5);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  inset: 0;
  display: none;
  place-items: center;
  opacity: 1;
  h2 {
    border: 1px solid;
  }
}

.show {
  display: grid !important;
  animation: show 0.5s ease;
}
